/*------------------ Globals -----------------------*/
:root {
    --creme: #EFE9E4;
    --pink: #D9C7C7;
    --gray: #737171;
    --black: #000000;
    --white: #ffffff;

    --font-family: "Inter";

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body {
    background-color: var(--creme);
    
}

h1 {
    text-align: center;
    font-family: "Noto Serif Display";
    font-weight: 500;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    font-family: "Noto Serif Display";
    font-weight: 500;
    font-size: 2rem;
}

h3 {
    text-align: center;
    font-family: "Noto Serif Display";
    font-weight: 500;
    font-size: 1.5rem;
}

h4 {
    text-align: center;
    font-family: "Noto Serif Display";
    font-weight: 500;
    font-size: 1rem;
}

p {
    color: var(--gray);
    text-align: center;
    font-weight: 300;
    line-height: 120%;
}

li {
    color: var(--gray);
    text-align: left;
    font-weight: 300;
    line-height: 120%;
}

span {
    text-align: center;
    color: var(--gray);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 200;
}

.filledButton {
    background-color: var(--black);
    border-radius: 5px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 300;
    height: 3rem;
    width: 12rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.button {
    background-color: var(--creme);
    border-radius: 5px;
    border: 1px var(--black) solid;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 300;
    height: 3rem;
    width: 12rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.button:hover, .filledButton:hover, .menuButton:hover {
    background-color: var(--pink);
    color: var(--black);
    border: none;
}

.selectedProjects .button, .cta .button {
    background-color: var(--black);
    border: 1px var(--white) solid;
    color: var(--white);
}

.selectedProjects .button:hover, .cta .button:hover {
    background-color: var(--pink);
    color: var(--black);
    border: none;
}

hgroup {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 1rem;
}

/* ------------------- NavBar -----------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.3rem;
    padding: 10px;
}

.logo {
    width: auto;
    height: 4rem;
}

nav .logo {
    cursor: pointer;
    transition: all 0.3s;
}

nav .logo:hover {
    transform: scale(1.2);
}

nav .nav-links {
    list-style: none;
}

nav .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

nav .nav-links li:hover {
    transform: scale(1.1);
}

nav .nav-links a {
    font-size: 400;
    color: var(--black);
}

nav .nav-links a:hover {
    color: var(--pink);
    text-decoration: underline;
}

.menu {
    display: none;
}

.menuButton {
    background-color: var(--black);
    border-radius: 5px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 300;
    height: 2rem;
    width: 5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}


@media screen and (max-width:800px){
    .nav-links {
        display: none;
    }
    .menu {
        display: inherit;
    }
}
/*nav*/
nav a {
    text-decoration: none;
}

nav .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--black);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

nav .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav .overlay a {
    padding: 1rem;
    font-size: 2rem;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 400;
    color: var(--white);
}

nav .overlay a:hover, nav .overlay a:focus {
    color: var(--pink);
    text-decoration: underline;
}

nav .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 2rem;
}

@media screen and (max-height: 450px) {
    nav .overlay a{
        font-size: 20px;
    }

    nav .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/*-------------------- Header ----------------------*/


.headerSection {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


/*-------------------- Projects ----------------------*/

.selectedProjects {
    height: auto;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}

.selectedProjects h2, .selectedProjects p, .selectedProjects h3, .selectedProjects span, .cta h2, .cta p, .projectDetails h3, .projectDetails p, .projectDetails span, .solutionText h2, .solutionText P, .theProcess h2, .theProcess h3, .theProcess p {
    color: var(--white);
}

.projectInfo, .Project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.projectTitle {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.projectTitle p {
    font-size: 0.85rem;
}

/*-------------------- My Services ----------------------*/

.myServices, .myExpertise {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
    margin-bottom: 2rem;
}

.servicesContainer, .expertiseContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.service {
    width: 20rem;
    height: 15rem;
    background-color: var(--white);
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*-------------------- CTA ----------------------*/

.cta {
    height: 90vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

/*-------------------- Footer ----------------------*/

footer {
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 5px;
}


i, .footerInfo i {

    color: var(--gray);
    transition: all 0.3s;
}

i:hover, .footerInfo i:hover {
    size: scale(1.1);
    color: var(--black);
}

#desktop-footer {
    display: none;
}

.footerInfo {
    max-width: 15em;
}

.footerInfo h4, .footerInfo p {
    text-align: left;
    color: var(--gray);
}

.footerInfo p, .footerInfo li {
    font-size: 0.75rem;
    font-weight: 300;
}

.footerInfo li {
    list-style-type: none;
    transition: all 0.3s;
}

.footerInfo li:hover {
    color: var(--black);
    size: scale(1.1);
}

.footerInfo a {
    text-decoration: none;

}


/* ------------------ Contact ------------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}


.inputCard {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input {
    border-color: var(--gray);
    border-radius: 5px;
    height: 2rem;
    margin-bottom: 10px;
    min-width: 23rem;
}

#message {
    height: 6rem;
}

label {
    font-family: "Inter";
    color: var(--gray);
    font-size: 1rem;
    font-weight: 300;
}

/* -------------------- About -----------------------*/

.aboutHeader {
    min-height: 100vh ;
}

.experience {
    width: 20rem;
    height: 15rem;
    background-color: var(--white);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ------------------ Clara AI --------------------------*/

.clara .projectTitle {
    min-height: 100vh;
    padding: 2rem;

}

.clara .projectTitle p {
    text-align: center;
    margin-top: 0.5rem;
}

.clara .projectDetails, .clara .projectDetailsInfo {
    padding: 2rem;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.detailInfo h3 {
    margin-bottom: 0.5rem;
}

.theChallenge {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hmw {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    width: 20rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.signo {
    color: var(--pink);
    font-size: 3rem;
    font-family: "Noto Serif Display";
}

.theChallenge a {
    text-decoration: none;
    transition: all 0.3s;
}

.theChallenge a:hover {
    color: var(--pink);
}

.theSolution {
    min-height: 100vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;

}

.theSolution .pictureSection{
    background-color: var(--white);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solutionText {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    gap:1rem;
}

.userFlow {
    min-height: 100vh;
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 2rem;

}

.userFlow .cardContainer {
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userCardContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}

.userFlowCard {
    max-height: 574px;
}

.theProcess {
    background-color: var(--black);
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
}

.userCard {
    background-color: var(--white);
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 500px;
}

.understandingtheUser {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


#lo-fi {
    background-color: var(--black);
    border: var(--white) 1px solid;
}

.moodboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.claraStepsImg, hr {
    display: none;
}

.moreProjects {
    min-height: 82vh;
}

/*------------ img -------------------------*/

img {
    max-inline-size: 100%;
    block-size: auto;
}


@media screen and (min-width: 40em) {
    .servicesContainer, .Project, .userFlow .cardContainer, .expertiseContainer {
        flex-direction: row;
    }

    .projectInfo {
        align-items: flex-start;
    }

    .projectInfo h3, .projectInfo p, .projectInfo span {
        text-align: left;
    }

    .clara .projectTitle {
        flex-direction: row-reverse;
    }


    .clara .projectDetailsInfo {
        width: 100%;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;

    }

    #clara-mockups {
        max-width: 800px;
    }

    #clara-intro {
        max-width: 400px;
    }

    .theSolution {
        flex-direction: row;
    }

    .moodboard {
        width: 100vw;
        height: auto;
    }

    /* .claraStepsImg, hr {
        display: flex;
        justify-content: center;
        padding: 2rem;
    } */

    .detailInfo {
        max-width: 15em;
    }

    .userCardContainer {
        height: 600px;
        width: 100%;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    #mobile-footer {
        display: none;
    }

    #desktop-footer {
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
    }

    
    input {
        min-width: 40rem;
    }

    h1, p {
        max-width: 750px;
    }

}